In [1]:
import pandas as pd
import mysql.connector as myconnector

In [2]:
connection = myconnector.connect(
    host="localhost",
    port=3306,
    user="root",
    password="",
    database="iris_db"
)

cursor = connection.cursor()

In [3]:
iris_dataframe = pd.read_csv("IRIS.csv")

iris_dataframe_sepal_l_w = iris_dataframe[['sepal_length', 'sepal_width']]

iris_dataframe_sepal_l_w

     sepal_length  sepal_width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

In [4]:
cursor.execute('DROP TABLE IF EXISTS iris_table')
cursor.execute('''
CREATE TABLE iris_table (
    id INT PRIMARY KEY AUTO_INCREMENT,
    sepal_length DECIMAL(5, 2) NOT NULL,
    sepal_width DECIMAL(5, 2) NOT NULL
)
''')

connection.commit()

In [6]:

data = f''''''

for index, row in iris_dataframe_sepal_l_w.iterrows():
    data += f'''({row['sepal_length']}, {row['sepal_width']}){(',' if index < len(iris_dataframe_sepal_l_w) - 1 else '')}'''

cursor.execute(f'''INSERT INTO iris_table(sepal_length, sepal_width) VALUES{data}''')

connection.commit()
connection.close()
cursor.close()

True