In [1]:
import psycopg2 as connector
import pandas as pd

In [2]:
iris_dataframe = pd.read_csv("IRIS.csv")

iris_dataframe_sepal_l_w_s = iris_dataframe[['petal_length', 'petal_width', 'species']]

iris_dataframe_sepal_l_w_s

     petal_length  petal_width         species
0             1.4          0.2     Iris-setosa
1             1.4          0.2     Iris-setosa
2             1.3          0.2     Iris-setosa
3             1.5          0.2     Iris-setosa
4             1.4          0.2     Iris-setosa
..            ...          ...             ...
145           5.2          2.3  Iris-virginica
146           5.0          1.9  Iris-virginica
147           5.2          2.0  Iris-virginica
148           5.4          2.3  Iris-virginica
149           5.1          1.8  Iris-virginica

[150 rows x 3 columns]

In [10]:
conn = connector.connect("dbname=iris_db user=postgres password=zanra2401 host=localhost port=2005")
cursor = conn.cursor()

In [11]:
cursor.execute('''DROP TABLE IF EXISTS iris_table''')
cursor.execute('''
    CREATE TABLE iris_table (
        id SERIAL PRIMARY KEY,
        petal_length DECIMAL(5, 2) NOT NULL,
        petal_width DECIMAL(5, 2) NOT NULL,
        species VARCHAR(50)
    )
''')

conn.commit()

In [12]:
data = ''''''

for index, row in iris_dataframe_sepal_l_w_s.iterrows():
    data += f'''({row['petal_length']}, {row['petal_width']}, '{row['species']}'){(',' if index < len(iris_dataframe_sepal_l_w_s) - 1 else '')}'''

cursor.execute(f'''INSERT INTO iris_table(petal_length, petal_width, species) VALUES{data}''')

conn.commit()
cursor.close()
conn.close()

In [ ]:
import psycopg2 as pgconnector
import pandas as pd


conn = pgconnector.connect("host=localhost user=postgres password=zanra2401 dbname=iris_db port=2005")

df = pd.read_sql("SELECT * FROM iris_table", conn)

conn.close()